{% extends "index.html" %}

{% block title %}Connections{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <table class="table" border="1">
                <thead>
                    <tr>
                        <th>SSID</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                  {% for connection in connections %}
                    <tr>
                        <td>{{ connection.ssid }}</td>
                        <td><button type="button" class="btn btn-success" data-toggle="modal"
                                data-target="#update_connection_{{connection['id']}}">Update</button></td>
                        <td><button type="button" class="btn btn-danger" data-toggle="modal"
                                data-target="#delete_connection_{{connection['id']}}">Delete</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p>
            <a href="/wpa_supplicant.conf">wpa_supplicant.conf</a>
          </p>
        </div>
    </div>
</div>
{% endblock %}