{% extends "index.html" %}

{% block title %}Connections{% endblock %}

{% block content %}
<div class="row">
  <h5>Networks</h5>
</div>
  <div class="row">
{% if connections|length %}
  {% for connection in connections %}
    <div class="col">{{ connection.ssid }}</div>
    <div class="col text-end">
      <button type="button" class="btn btn-danger" onclick="window.location.href='{{url_for('removeConnection', id=connection['id'])}}';" >Remove</button>
    </div>
  {% endfor %}
{% else %}
    <div class="col">No networks defined.</div>
    {% endif %}
  </div>
<div class="row">
  <h5>Add network</h5>
</div>
<div class="row">
  <form action="{{url_for('createConnection')}}" method="post">
    <div class="col">
      <input name="ssid" type="text" class="form-control" placeholder="SSID" aria-label="SSID">
    </div>
    <div class="col">
      <input name="password" type="text" class="form-control" placeholder="Password" aria-label="Password">
    </div>
    <div class="col">
      <button type="submit" class="btn btn-success">Add</button>
    </div>
  </form>
</div>
<div class="row">
  <p>
    <a href="/wpa_supplicant.conf">wpa_supplicant.conf</a>
  </p>
</div>
{% endblock %}