<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}No title{% endblock %}</title>
    <link href="{{ url_for('static', path='bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
      {% if message is defined %}
      <div class="row">
        <div class="alert alert-success" id="alert" role="alert">
          {{ message }}
        </div>
      </div>
      {% endif %}
      {% block content %}No content{% endblock %}
    </div>

    <script src="{{ url_for('static', path='jquery-3.4.1.slim.min.js') }}" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', path='bootstrap.bundle.min.js') }}" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script type="text/javascript">
      setTimeout(function () {
          // Closing the alert
          $('#alert').alert('close');
      }, 2500);
  </script>
  </body>
</html>